* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root {
  /* --color-primary: #a94eff; */
  --color-primary: #333;
  --color-background: #efefef;
  --transition-short: 0.3s;
  --transition-med: 0.5s;
  interpolate-size: allow-keywords;
  transition-behavior: allow-discrete;
}

html {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-family: "Sansation", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  text-wrap: pretty;
}

body {
  padding-top: 30px;
  padding-bottom: 60px;
  justify-content: space-evenly;
  min-height: 100dvh;
  overflow-y: auto;
  max-width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  place-items: center;
  gap: 1rem;
  /* text-shadow: 2px 2px 4px #00000020; */
}

small {
  font-family: monospace;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: min(12vw, 4rem);
  font-family: "WindSong", cursive;
  font-weight: 400;
}

h4 {
  font-size: min(7vw, 2rem);
  font-family: "Sansation", sans-serif;
  font-weight: 300;
}

.image-carousel {
  width: 100%;
  min-height: 300px;
  display: flex;
  overflow-x: auto;
  /* padding: 0.5rem; */
  gap: 0.5rem;
  scroll-snap-type: x mandatory;

  img {
    scroll-snap-align: center;
    object-position: contain;
    object-fit: contain;
    max-height: 100svh;
    width: 100vw;
    height: auto;
  }
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: inherit;
}

.registry {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
  color: oklch(from var(--color-primary) l c h / 0.5);
  font-weight: 500;

  transition: all var(--transition-short);

  &:hover {
    color: var(--color-primary);
  }
}

a.btn:link,
a.btn:visited {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;

  padding: 8px 16px;
  border-radius: 0px;


  border: 2px solid var(--color-primary);
  background-color: transparent;

  &:hover {
    border: 2px solid transparent;
    background-color: var(--color-primary);
    color: white;
    transform: scale(1.2);
  }
}

.lodging {

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  li {
    margin-left: 1rem;
    display: flex;
    align-items: center;
  }

  .moscow {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }
}

details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 0.2rem;
  font-size: 0.8rem;
  width: 100%;
  background-color: oklch(from var(--color-background) calc(l + 0.02) c h);


  h2 {
    display: inline-block;
  }

  padding-top: 0.5rem;
  border: 2px solid oklch(from var(--color-primary) calc(l - 0.2) c h / 0.05);

  border-radius: 4px;

  summary {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-inline: 0.5rem;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
      color: oklch(from var(--color-primary) calc(l + 0.2) c h);
    }

    img:first-of-type {
      display: none;
    }

    img:last-of-type {
      margin-left: auto;
      transition: transform var(--transition-short) ease-in-out;
      border-radius: 50%;
    }
  }

  &::details-content {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-inline: 0.5rem;
    height: 0;
    overflow: hidden;
    transition:
      all var(--transition-med) ease-out allow-discrete;
  }

  &[open] {
    summary img:last-of-type {
      transform: rotate(45deg);
    }

    &::details-content {
      padding-block: 10px;
      height: auto;
    }

    padding-bottom: 0.8rem;
  }
}

section[name="faq"] {
  width: 100%;
  max-width: 800px;
}

.map {
  iframe {
    width: 100%;
    height: 400px;
  }

  height: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.2);
}

.schedule {
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style-type: none;

    li {
      margin-left: 10px
    }
  }
}